<table class="table">
  <thead>
    <tr>
      <td>公告</td>
      <td>時間</td>
    </tr>
  </thead>
  <tbody>
    <% bulletin.each do |b| %>
    <tr>
      <td><%= b.content %></td>
      <td><%= b.post_time %></td>
    </tr>
    <% end %>
  </tbody>
</table>
