<table class="table">
  <thead>
    <tr>
      <td>公告</td>
      <td>時間</td>
    </tr>
  </thead>
  <tbody>
    <% @bulletins.each do |b| %>
    <tr>
      <td><%= b.content %></td>
      <td><%= b.post_time %></td>
      <td><%= button_to "刪除", bulletin_path(b), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "新增公告", new_bulletin_path, :class => "btn btn-primary" %>
