<nav class="navbar navbar-inverse navbar-embossed navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <%= link_to 'NCTU+', root_path, :class => 'navbar-brand' %>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
<!-- /navbar -->
